@font-face {
    font-family: NetflixSansRegular;
    src: url(../fonts/NetflixSans-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: NetflixSansBold;
    src: url(../fonts/NetflixSans-Bold.otf);
    font-weight: bold;
}
* {
    padding: 0%;
    margin: 0%;
    font-family: NetflixSansRegular;
}
:root {
    --vermelhoClaro: #af0000;
    --VermelhoEscuro: #831010;
    --marrom: #564d4d;
    --preta: black;
    --branca: white;
}
body {
    background-color: var(--preta);
    color: var(--branca);
}