.menuPC {
    display: none;
}
.menuMobile {
    display: flex;
}
/*"media" serve para fazer a transição de tela do PC para o mobile*/
/*@media screen and (max-width :820px)/*max-width serve para definir o max para a transição ser feita
{
    .menuPC {
        display: none;
    }
    .menuMobile {
        display: flex;
    }
}*/